$day: "mon", "tue", "wed", "thu", "fri", "sat", "sun";

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calendar {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px); 
}

.calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  &:hover {
    transform: scale(1.2, 1.2);
    transition: .5s background-color, .5s transform;
  }
  &:before {
    font-family: "Arial", sans-serif;
    font-size: 30px;
  }
}

@for $j from 1 through length($day) {
    @for $days from 28 through 31 {
      .calendar-#{nth($day, $j)}.calendar-#{$days} {
        :first-child {
          grid-column-start: index($day, nth($day, $j));
        }
        @for $i from 1 through $days {
          :nth-child(#{$i}) {
            background: #eeeeee;
            border: 1px solid black;
            &:hover {
              background-color: pink;
              cursor: pointer;
            }
            &:before {
              content: $i + "";
            }       
          }
        }
      }
    }
  }
