html, body {
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

.calendar {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px); }

.calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: .5s; }
  .calendar div:hover {
    transform: translateY(-20px); }
  .calendar div:before {
    font-family: "Arial", sans-serif;
    font-size: 30px; }

.calendar-mon :first-child {
  grid-column-start: 1; }

.calendar-tue :first-child {
  grid-column-start: 2; }

.calendar-wed :first-child {
  grid-column-start: 3; }

.calendar-thu :first-child {
  grid-column-start: 4; }

.calendar-fri :first-child {
  grid-column-start: 5; }

.calendar-sat :first-child {
  grid-column-start: 6; }

.calendar-sun :first-child {
  grid-column-start: 7; }

.calendar-28 :nth-child(1) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(1):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(1):before {
    content: "1"; }
.calendar-28 :nth-child(2) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(2):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(2):before {
    content: "2"; }
.calendar-28 :nth-child(3) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(3):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(3):before {
    content: "3"; }
.calendar-28 :nth-child(4) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(4):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(4):before {
    content: "4"; }
.calendar-28 :nth-child(5) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(5):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(5):before {
    content: "5"; }
.calendar-28 :nth-child(6) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(6):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(6):before {
    content: "6"; }
.calendar-28 :nth-child(7) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(7):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(7):before {
    content: "7"; }
.calendar-28 :nth-child(8) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(8):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(8):before {
    content: "8"; }
.calendar-28 :nth-child(9) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(9):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(9):before {
    content: "9"; }
.calendar-28 :nth-child(10) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(10):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(10):before {
    content: "10"; }
.calendar-28 :nth-child(11) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(11):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(11):before {
    content: "11"; }
.calendar-28 :nth-child(12) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(12):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(12):before {
    content: "12"; }
.calendar-28 :nth-child(13) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(13):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(13):before {
    content: "13"; }
.calendar-28 :nth-child(14) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(14):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(14):before {
    content: "14"; }
.calendar-28 :nth-child(15) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(15):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(15):before {
    content: "15"; }
.calendar-28 :nth-child(16) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(16):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(16):before {
    content: "16"; }
.calendar-28 :nth-child(17) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(17):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(17):before {
    content: "17"; }
.calendar-28 :nth-child(18) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(18):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(18):before {
    content: "18"; }
.calendar-28 :nth-child(19) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(19):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(19):before {
    content: "19"; }
.calendar-28 :nth-child(20) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(20):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(20):before {
    content: "20"; }
.calendar-28 :nth-child(21) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(21):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(21):before {
    content: "21"; }
.calendar-28 :nth-child(22) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(22):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(22):before {
    content: "22"; }
.calendar-28 :nth-child(23) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(23):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(23):before {
    content: "23"; }
.calendar-28 :nth-child(24) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(24):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(24):before {
    content: "24"; }
.calendar-28 :nth-child(25) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(25):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(25):before {
    content: "25"; }
.calendar-28 :nth-child(26) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(26):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(26):before {
    content: "26"; }
.calendar-28 :nth-child(27) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(27):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(27):before {
    content: "27"; }
.calendar-28 :nth-child(28) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-28 :nth-child(28):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-28 :nth-child(28):before {
    content: "28"; }

.calendar-29 :nth-child(1) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(1):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(1):before {
    content: "1"; }
.calendar-29 :nth-child(2) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(2):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(2):before {
    content: "2"; }
.calendar-29 :nth-child(3) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(3):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(3):before {
    content: "3"; }
.calendar-29 :nth-child(4) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(4):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(4):before {
    content: "4"; }
.calendar-29 :nth-child(5) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(5):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(5):before {
    content: "5"; }
.calendar-29 :nth-child(6) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(6):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(6):before {
    content: "6"; }
.calendar-29 :nth-child(7) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(7):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(7):before {
    content: "7"; }
.calendar-29 :nth-child(8) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(8):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(8):before {
    content: "8"; }
.calendar-29 :nth-child(9) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(9):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(9):before {
    content: "9"; }
.calendar-29 :nth-child(10) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(10):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(10):before {
    content: "10"; }
.calendar-29 :nth-child(11) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(11):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(11):before {
    content: "11"; }
.calendar-29 :nth-child(12) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(12):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(12):before {
    content: "12"; }
.calendar-29 :nth-child(13) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(13):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(13):before {
    content: "13"; }
.calendar-29 :nth-child(14) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(14):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(14):before {
    content: "14"; }
.calendar-29 :nth-child(15) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(15):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(15):before {
    content: "15"; }
.calendar-29 :nth-child(16) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(16):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(16):before {
    content: "16"; }
.calendar-29 :nth-child(17) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(17):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(17):before {
    content: "17"; }
.calendar-29 :nth-child(18) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(18):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(18):before {
    content: "18"; }
.calendar-29 :nth-child(19) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(19):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(19):before {
    content: "19"; }
.calendar-29 :nth-child(20) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(20):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(20):before {
    content: "20"; }
.calendar-29 :nth-child(21) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(21):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(21):before {
    content: "21"; }
.calendar-29 :nth-child(22) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(22):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(22):before {
    content: "22"; }
.calendar-29 :nth-child(23) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(23):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(23):before {
    content: "23"; }
.calendar-29 :nth-child(24) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(24):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(24):before {
    content: "24"; }
.calendar-29 :nth-child(25) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(25):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(25):before {
    content: "25"; }
.calendar-29 :nth-child(26) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(26):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(26):before {
    content: "26"; }
.calendar-29 :nth-child(27) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(27):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(27):before {
    content: "27"; }
.calendar-29 :nth-child(28) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(28):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(28):before {
    content: "28"; }
.calendar-29 :nth-child(29) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-29 :nth-child(29):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-29 :nth-child(29):before {
    content: "29"; }

.calendar-30 :nth-child(1) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(1):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(1):before {
    content: "1"; }
.calendar-30 :nth-child(2) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(2):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(2):before {
    content: "2"; }
.calendar-30 :nth-child(3) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(3):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(3):before {
    content: "3"; }
.calendar-30 :nth-child(4) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(4):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(4):before {
    content: "4"; }
.calendar-30 :nth-child(5) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(5):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(5):before {
    content: "5"; }
.calendar-30 :nth-child(6) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(6):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(6):before {
    content: "6"; }
.calendar-30 :nth-child(7) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(7):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(7):before {
    content: "7"; }
.calendar-30 :nth-child(8) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(8):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(8):before {
    content: "8"; }
.calendar-30 :nth-child(9) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(9):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(9):before {
    content: "9"; }
.calendar-30 :nth-child(10) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(10):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(10):before {
    content: "10"; }
.calendar-30 :nth-child(11) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(11):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(11):before {
    content: "11"; }
.calendar-30 :nth-child(12) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(12):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(12):before {
    content: "12"; }
.calendar-30 :nth-child(13) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(13):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(13):before {
    content: "13"; }
.calendar-30 :nth-child(14) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(14):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(14):before {
    content: "14"; }
.calendar-30 :nth-child(15) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(15):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(15):before {
    content: "15"; }
.calendar-30 :nth-child(16) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(16):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(16):before {
    content: "16"; }
.calendar-30 :nth-child(17) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(17):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(17):before {
    content: "17"; }
.calendar-30 :nth-child(18) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(18):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(18):before {
    content: "18"; }
.calendar-30 :nth-child(19) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(19):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(19):before {
    content: "19"; }
.calendar-30 :nth-child(20) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(20):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(20):before {
    content: "20"; }
.calendar-30 :nth-child(21) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(21):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(21):before {
    content: "21"; }
.calendar-30 :nth-child(22) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(22):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(22):before {
    content: "22"; }
.calendar-30 :nth-child(23) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(23):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(23):before {
    content: "23"; }
.calendar-30 :nth-child(24) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(24):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(24):before {
    content: "24"; }
.calendar-30 :nth-child(25) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(25):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(25):before {
    content: "25"; }
.calendar-30 :nth-child(26) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(26):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(26):before {
    content: "26"; }
.calendar-30 :nth-child(27) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(27):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(27):before {
    content: "27"; }
.calendar-30 :nth-child(28) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(28):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(28):before {
    content: "28"; }
.calendar-30 :nth-child(29) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(29):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(29):before {
    content: "29"; }
.calendar-30 :nth-child(30) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-30 :nth-child(30):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-30 :nth-child(30):before {
    content: "30"; }

.calendar-31 :nth-child(1) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(1):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(1):before {
    content: "1"; }
.calendar-31 :nth-child(2) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(2):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(2):before {
    content: "2"; }
.calendar-31 :nth-child(3) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(3):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(3):before {
    content: "3"; }
.calendar-31 :nth-child(4) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(4):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(4):before {
    content: "4"; }
.calendar-31 :nth-child(5) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(5):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(5):before {
    content: "5"; }
.calendar-31 :nth-child(6) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(6):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(6):before {
    content: "6"; }
.calendar-31 :nth-child(7) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(7):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(7):before {
    content: "7"; }
.calendar-31 :nth-child(8) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(8):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(8):before {
    content: "8"; }
.calendar-31 :nth-child(9) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(9):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(9):before {
    content: "9"; }
.calendar-31 :nth-child(10) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(10):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(10):before {
    content: "10"; }
.calendar-31 :nth-child(11) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(11):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(11):before {
    content: "11"; }
.calendar-31 :nth-child(12) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(12):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(12):before {
    content: "12"; }
.calendar-31 :nth-child(13) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(13):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(13):before {
    content: "13"; }
.calendar-31 :nth-child(14) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(14):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(14):before {
    content: "14"; }
.calendar-31 :nth-child(15) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(15):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(15):before {
    content: "15"; }
.calendar-31 :nth-child(16) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(16):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(16):before {
    content: "16"; }
.calendar-31 :nth-child(17) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(17):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(17):before {
    content: "17"; }
.calendar-31 :nth-child(18) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(18):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(18):before {
    content: "18"; }
.calendar-31 :nth-child(19) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(19):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(19):before {
    content: "19"; }
.calendar-31 :nth-child(20) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(20):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(20):before {
    content: "20"; }
.calendar-31 :nth-child(21) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(21):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(21):before {
    content: "21"; }
.calendar-31 :nth-child(22) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(22):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(22):before {
    content: "22"; }
.calendar-31 :nth-child(23) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(23):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(23):before {
    content: "23"; }
.calendar-31 :nth-child(24) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(24):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(24):before {
    content: "24"; }
.calendar-31 :nth-child(25) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(25):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(25):before {
    content: "25"; }
.calendar-31 :nth-child(26) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(26):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(26):before {
    content: "26"; }
.calendar-31 :nth-child(27) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(27):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(27):before {
    content: "27"; }
.calendar-31 :nth-child(28) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(28):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(28):before {
    content: "28"; }
.calendar-31 :nth-child(29) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(29):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(29):before {
    content: "29"; }
.calendar-31 :nth-child(30) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(30):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(30):before {
    content: "30"; }
.calendar-31 :nth-child(31) {
  background: #eeeeee;
  border: 1px solid black; }
  .calendar-31 :nth-child(31):hover {
    background-color: pink;
    cursor: pointer; }
  .calendar-31 :nth-child(31):before {
    content: "31"; }

/*# sourceMappingURL=style.css.map */
