$day: "mon", "tue", "wed", "thu", "fri", "sat", "sun";

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

div.calendar {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px); 
}

div.calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background: #eeeeee;
}

.calendar div:hover {
  background-color: pink;
  transform: scale(1.2, 1.2);
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s;
}

:before {
  font-family: "Arial", sans-serif;
  font-size: 30px;
}

@for $j from 1 through length($day) {
    @for $days from 28 through 31 {
      .calendar-#{nth($day, $j)}.calendar-#{$days} {
        :first-child {
          grid-column-start: index($day, nth($day, $j));
        }
        @for $i from 1 through $days {
          :nth-child(#{$i}) {
            border: 1px solid black;            
          }
          :nth-child(#{$i}):before {
            content: $i + "";
        }
      }
    }
  }
}
